[user]
	name = JDeuce
	email = jjaques@gmail.com

[alias]
    br = branch
    ci = commit -v
    st = status
    co = checkout
    amend = commit --amend -v
    ls = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[core]
        editor = vim
        pager = less -FXRS
